<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
</script>
</head>
<body>
<div ng-app="app1" ng-controller="test" ng-init="a=10;course='btech';arr=[1,2,3,5];">
<input type="text" ng-model="value1">

<input type="button" ng-click="display()" value="CheckArmstrong"/>
</div>
<script>
var ap=angular.module('app1',[]);
ap.controller('test',function($scope){
	$scope.display = function () {

		var digit=parseInt($scope.value1);
		var a,b,c,value;

		c=digit%10;
		b=((digit-c)/10)%10;
		a=(digit-c-(b*10))/100;
		value=a*a*a+b*b*b+c*c*c;
		if(digit==value)
			alert("This is an armstrong number");
		else
			alert("This is not an armstrong number");

	}
});
</script>
</body>
</html>