<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
</script>
</head>
<body>
	<div ng-app="app1" ng-controller="test" ng-init="a=10;course='btech';arr=[1,2,3,5];">
	<input type="text" ng-model="myname"/>
	<p ng-bind="myname"> </p> <br>
	<p>{{a}}</p> <br>
	<p>{{x+y}}</p>
	<p>{{arr[2]}}</p> <br>
	<input type="button" ng-click="add()"" value="click">
	{{name}}
	</div>


<script>
	var ap=angular.module('app1',[]);

	ap.controller('test',function($scope){
		$scope.add=function(){
		//$scope.name="Piyush"};
		alert($scope.name)};
	});
</script>
</body>
</html>