#name {
	animation: color-change 5s ease-in-out infinite alternate;
	text-shadow:4px 4px 2px black;
	font-size: 180%;
	font-family: FreeMono, monospace;
	font-weight: bold;
}

@keyframes color-change {
  0% { background-color: #2ba3e3; }
  50% { background-color: #2be3d4; }
  100% { background-color: #3eed9b; }
}